@font-face {
    font-family: bold;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranSans/FontsFree-Net-ir_sans.ttf');
}
@font-face {
    font-family: medium;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranSans/IRANSans Medium.ttf');
}
@font-face {
    font-family: light;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranSans/IRANSans Light.ttf');
}
